@import "colors.css";


@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}


.typing-container {
    display: inline-block;
    white-space: nowrap;
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    text-wrap: wrap;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.faded-edges {
    position: relative;
    width: 100%;
    height: auto;
}

.faded-edges::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
    z-index: 1;
}

.faded-edges img {
    display: block;
    width: 100%;
    height: auto;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

main {
    padding: 57px 27px;
    background-repeat: no-repeat;
    background-position: right center;
    flex: 1 1 auto;
    background-color: var(--primary-color);
    color: #2B283A;
}

main.dark {
    background-color: var(--secondary-color);
    color: white;
}
