@import "colors.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #F1E3D0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  height: 40px;
}

#header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav .nav-item {
  padding: 0 2rem 0 2rem;
}

.right-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color-primary);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--text-faded);
}


/* Mobile styles */
@media (max-width: 640px) {
  #header-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav-list {
    display: none;
  }

  .left-nav .nav-item {
    display: none;
  }

  .left-nav .nav-item:first-child {
    display: block;
  }

  .right-nav {
    display: none;
  }


  #logo {
    height: 40px;
    margin-right: 0;
  }
}
